


@media (max-width: 1000px){
     .custom-container {
    padding: 0px 25px;
}
}
/* Extra small devices (portrait phones, less than 768px) */
@media (max-width: 767.98px) { 
.section-title h2 {
    font-size: 25px;
    line-height: 32px;
}
.custom-btn {
    font-size: 20px;
    }
}




/* Small devices (landscape phones, 576px and up) */
@media (min-width: 320px) and (max-width: 575.98px) { 
  .custom-container {
    padding: 0px 20px;
}
.section-heading h1 {
    margin: 0px;
    margin-bottom: 30px;
    font-size: 30px;
    color: #333333;
    line-height: 35px;
}
.custom-btn {
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    }
}